= form_for(@facility) do |f|
  - if @facility.errors.any?
    #error_explanation
      %h2
        = pluralize(@facility.errors.count, "error")
        prohibited this facility from being saved:
      %ul
        - @facility.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit "Add Facility", class: 'btn btn-primary'
